<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>{{ events.name }}</title>
</head>
<body>
{% include 'navbar.html' %}

<h1>{{ events.name }}</h1>
  <div class="event">
    <ul>
        <li>
             <label>Datum</label>
        <p>{{ events.event_date }}</p>
             <label>Evenement naam</label>
        <p> {{ events.name }}</p>
             <label>Locatie</label>
        <p>  {{ events.location }} </p>
            <label>Beschrijving</label>
        <p>  {{ events.description }} </p>
             <label>Start tijd</label>
        <p>  {{ events.start_time }} </p>
             <label>Eind tijd</label>
        <p>  {{ events.end_time }} </p>
        </li>
    </ul>
  </div>

</body>
</html>